<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archives</title>
</head>
    <body>
        {% extends "base.html" %}
        {% block title %}Home Page{% endblock %}
        {% block content %}
        <form action="/archives" method="post" enctype="multipart/form-data">
          Select image to upload:
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Upload Image" name="submit">
        </form>
        {{content}}
        {% endblock%}
    </body>
</html>