<!DOCTYPE html>
<html lang="en">
<head>
   </head>
    <body>
        {% extends "base.html" %}
        {% block title %}Create a new User{% endblock %}
        {% block content %}
        <div class="container align-content-center text-center">
            <h1>The Bedtime Brigade</h1>
        </div>
      
        <div class="container align-content-center text-center">
          <h1>{{content}}</h1>
          <h2>Create User</h2>
            <br>
          <div>
            <form method='POST' action="/create_user">
                <h2>Username</h2>
              <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"/>
                <h2>Password</h2>
              <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"/>
                <h2>Confirm Password</h2>
              <input type="text" name="confirmed_password" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1"/>
                <h2>Submit</h2>
              <input type="submit" class="btn btn-success" value="Submit">
            </form>
          </div>
        </div>
        {% endblock %}
    </body>

</html>