<!DOCTYPE html>
<html lang="en">
<head>
   </head>
    <body>
        {% extends "base.html" %}
        {% block title %}Create a new User{% endblock %}
        {% block content %}
        <div class="container align-content-center text-center">
            <h1>The Bedtime Brigade</h1>
        </div>

        <div class="container align-content-center text-center">
          <h1>{{content}}</h1>
          <h2>Create User</h2>
            <br>
        </div>
          <div class="container">
            <form method='POST' action="/create_user">
                <h3>Username</h3>
              <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"/>
                <br>
                <h3>Alias</h3>
              <input type="text" name="alias" class="form-control" placeholder="Alias" aria-label="Alias" aria-describedby="basic-addon1"/>
                <br>
                <h3>Password</h3>
              <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"/>
                <br>
                <h3>Confirm Password</h3>
              <input type="text" name="confirmed_password" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1"/>
                <br>
                <br>
                <h3>Submit</h3>
              <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
        {% endblock %}
    </body>

</html>