<!DOCTYPE html>
<html lang="en">
<head>
   </head>
    <body>
        {% extends "base.html" %}
        {% block title %}Home Page{% endblock %}
        {% block content %}
        <div class="container align-content-center text-center">
            <h1>The Bedtime Brigade</h1>
            <h3>Login</h3>
            <h4 class="text-danger">{{content}}</h4>
        </div>
        <br>
        <br>
        <form method='POST' action="/login">
                <h3>Username</h3>
              <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"/>
                <br>
                <h3>Password</h3>
              <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"/>
            <br>
          <input type="submit" class="btn btn-success" value="Login">
        </form>
        {% endblock %}
    </body>

</html>