<!DOCTYPE html>
<html lang="en">
<head>
   </head>
    <body>
        {% extends "base.html" %}
        {% block title %}Home Page{% endblock %}
        {% block content %}
        <div class="container align-content-center text-center">
          <br>
          <br> 
          <h1>The Bedtime Brigade</h1>
          <br>
          <br>
          <h1>Rules:</h1>
          <ul class="list-group">
            <li class="list-group-item">Don't do Bad Stuff</li>
            <li class="list-group-item">This website was for fun. By using it, you consent to being on it.</li>
            <li class="list-group-item">Admins are watching. You will get deleted</li>
            <li class="list-group-item">Do not try and do malicious stuff to the website You will ruin the fun.</li>
            <li class="list-group-item">Don't bully people. It's all fun.</li>
            <li class="list-group-item">Use your common sense</li>
            <li class="list-group-item list-group-item-danger">IF YOU HAVE ANY CONCERNS. PLEASE REACH OUT TO JCIDRON09@GMAIL.COM</li>
          </ul>
        </div>
        {% endblock %}
    </body>

</html>